@(user: Option[models.User])
      <div class="jumbotron text-center" style="margin-bottom:0">
        <img src="https://s3.amazonaws.com/jeremy-d-owens-images/main_banner.png" class="img-fluid">
      </div>

      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#">JO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Status Updates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ongoing Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Résumé</a>
            </li>
          </ul>
          <ul class="navbar navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @if(user.isDefined) {
                  user.uname
                } else {
                  Guest
                }
                <span class="carat"></span>
              </a>
              <ul class="dropdown-menu profile-dropdown">
                @if(user.isDefined) {
                  <li><a href="/login">Log In</a></li>
                } else {
                  <li><a href="/logout">Log Out</a></li>
                }
              </ul>
            </li>
          </ul>
        </div>
      </nav>
