@(lastPost: models.Post)

@main("Jeremy Owens") {
  @header()
      <div class="container" style="margin-top:30px">
        <div class="row">
          <div class="col-sm-4">
            <h2>Who Am I?</h2>
            <img src="https://s3.amazonaws.com/jeremy-d-owens-images/600x600profile.png" class="img-fluid profile-img">
            <p>Data Solutions Manager at <a href="https://opg.tv">Online Performers Group</a>, graduate student at Syracuse University, perpetual learner, husband, father of three.</p>
            <h3>Links</h3>
            <p>Other places to find me on the internet</p>
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/Tsagh">Github</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/JeremyOwens_">Twitter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/jeremy-owens-648876b0/">LinkedIn</a>
              </li>
            </ul>
            <hr class="d-sm-none">
          </div>
          <div class="col-sm-8">
            <h2>@lastPost.title</h2>
            <h5>@lastPost.date</h5>
            <p>@lastPost.body</p>
          </div>
        </div>
      </div>
  @footer()
}
