@(user: Option[models.User])(message: Option[String])

@import helper._

@main("Jeremy Owens") {
  @header(user)
     <style>
          label {
            display: inline-block;
            width: 100px;
          }
     </style>
     <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
         @if(message.isDefined) {
           <p>@message</p>
         }
         @if (user.isDefined) {
           <p>
             It appears that you are already logged in.
             Please <a href="/logout">log out</a> before attempting to log into a different account,
             or creating a new account.
           </p>
           }
         </div>
       </div>
       <div class="col-md-2"></div>
     </div>
     <div class="row">
       <div class="col-md-2"></div>
       @if(user.isEmpty) {
         <div class="col-md-4">
           <h2>Log in with existing account</h2>
           <label for="create_acct_uname">Email</label>
           <input type="text" id="login_email"><br />
           <label for="create_acct_email">Password</label>
           <input type="password" id="login_password"><br />
           <button id="acctlogin" class="btn">Log In</button><br />
           <p id="loginmessage"></p>
         </div>
         <div class="col-md-4">
           <h2>Create a new account</h2>
           <label for="create_acct_uname">Username</label>
           <input type="text" id="create_acct_uname"> <br />
           <label for="create_acct_email">Email</label>
           <input type="text" id="create_acct_email"><br />
           <button id="acctcreate" class="btn">Create Account</button>
           <p id="resultmessage"></p>
         </div>
       }

       <div class="col-md-2"></div>
     </div>
  <script src="@routes.Assets.versioned("javascripts/auth.js")"></script>
  @footer()
}
