@(user: Option[models.User])(message: Option[String])

@import helper._

@main("Jeremy Owens") {
  @header(user)
     <style>
          label {
            display: inline-block;
            width: 100px;
          }
     </style>
     <div class="row">
       <div class="col-md-2"></div>
       <div class="col-md-8">
         @if(message.isDefined) {
           <p>@message</p>
         }
         @if(user.isDefined) {
           <p>
             It appears that you are already logged in.
             Please <a href="/logout">log out</a> before attempting to log into a different account,
             or creating a new account.
           </p>
         }
         </div>
       </div>
       <div class="col-md-2"></div>
     </div>
     <div class="row">
       <div class="col-md-2"></div>
       @if(user.isEmpty) {
         <div class="col-md-4">
           <h2>Log in</h2>
           <form id="acctlogin" >
             <label for="create_acct_uname">Email</label>
             <input type="text" id="login_email"><br />
             <label for="create_acct_email">Password</label>
             <input type="password" id="login_password"><br />
             <button type="submit" class="btn btn-standard">Log In</button>
           </form>
           <img src="@routes.Assets.versioned("images/spinner.gif")" id="login_spinner" class="spinner"  style="display: none;"><br />
           <p id="loginmessage"></p>
         </div>
         <div class="col-md-4">
           <h2>Create a new account</h2>
           <form id="acctcreate">
             <label for="create_acct_uname">Username</label>
             <input type="text" id="create_acct_uname"> <br />
             <label for="create_acct_email">Email</label>
             <input type="text" id="create_acct_email"><br />
             <button type="submit" class="btn btn-standard">Create Account</button>
           </form>
         <img src="@routes.Assets.versioned("images/spinner.gif")" id="create_spinner" class="spinner" style="display: none;"><br />
           <p id="resultmessage"></p>
           <p><a href="/pwchange">Forgot Password?</a></p>
         </div>
       }

       <div class="col-md-2"></div>
     </div>
  <script src="@routes.Assets.versioned("javascripts/auth.js")"></script>
  @footer()
}
